<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div id = "container">
  <h1>Careers</h1>
  <img id="banner" src= "https://127afd95-140f-4643-ab8f-87ed2411536b-00-2sp72wsqfg69o.worf.replit.dev/static/banner.jpg" height="320"
    >
    <h2> About Jovian </h2>
    <p class= "bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget velit aliquet sagittis id consectetur. Sed risus ultricies tristique nulla aliquet. Gravida neque convallis a cras. Sed vulputate mi sit amet mauris commodo quis imperdiet. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Non odio euismod lacinia at quis risus sed. Malesuada nunc vel risus commodo viverra maecenas accumsan. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Integer enim neque volutpat ac tincidunt vitae semper quis lectus. </p>
    <h2>Open Positions</h2>
    <p class="bodytext">TODO - Show jobs here</p>
    <div style ="text-align:center;">
    <button>Contact Us</button>
    <p>Copyright 2024, Career Listings</p>
    </div>


</div>
</body>
</html>